<!--FOOTER-->


<!--СОЦИАЛКИ-->


            <!-- ВЫПАДАЮЩЕЕ МЕНЮ-->
       <!--     #mainmenu
{
	   font-family: 'Comfortaa', cursive;
    position: fixed;
 
}
#mainmenu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
#mainmenu ul li
{
	position: relative;
	float:left;
}
#mainmenu ul li ul, #mainmenu ul li ul li
{
	width:100px;
}
#mainmenu li ul
{
	position: absolute;
	left: 0;
	top: 29px;
	display: none;
	float:left;
}
#mainmenu ul li a 
{      text-decoration: none;
	float:left;
	color: black;
	width:100px;
	font-size:16px;
	padding: 5px 0 5px 0;
	text-align:center;
	background: rgba(255, 255, 255, 0.40);
}
#mainmenu li ul li a
{
	padding:5px 0 3px 10px;
	text-align:left;
	font-size:14px;
	width:90px;
	
}
#mainmenu li ul li a:hover
{
	background: #CCC;
	color:#000;
}
* html #mainmenu ul li { float: left; height: 1%; }
* html #mainmenu ul li a { height: 1%; }
#mainmenu li:hover ul, 
#mainmenu  li.over ul { display: block; }-->
      