            body{
                background-image: url(back.png);
                margin: 0px;
    }

            .meh{
                font-family: 'Bangers', cursive;
                font-size: 35px;

                }
            
            #content{
                background-color:rgba(100, 155, 155, 0.10);
                font-family: 'Comfortaa', cursive;
                box-shadow: 0px 0px 1px 1px rgba(20, 20, 20, 0.30);
                width: 1055px;
                height: 1600px;
                border-radius: 15px;
                margin-top: 30px;
                padding: 25px;
                margin-left: 100px;

            }
            .outbox{
                margin-top:-11px;
                margin-left: 150px;
                background-image:url(term.jpg); 
                width:985px;;
                height:130px;
                box-shadow: 0px 0px 1px 1px rgba(1, 10, 10, 0.60);
            }   
           
           p{
               font-family: 'Comfortaa', cursive;
            }
            
            footer a{
                text-decoration: none;
                font-size: 13px;
        }
             #footer{
                 margin-top: 30px;
                 margin-left: 200px;
                 padding:20px;
                 width: 1045px;
                 height: 30px;
                 font-size: 15px;
             }

            ul{
                list-style: none;
        }
